* {
    margin: 0;
	padding: 0;
	font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
}

@media(max-width:500px){
	.body{
		flex-direction: column;
	}
}

.menu_top {
    background: #222222;	
    height: 75px;  
}

.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	
}

.menu_wrap {
	display: flex;
	justify-content: space-between;
}

.menu_left {
    width: 111px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
	padding-top: 18px;
	padding-bottom: 19px;
	padding-left: 14%;
    float: left;
    }

.menu_right {
    width: 200px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
	padding-top: 18px;
    padding-bottom: 20px;
    padding-right: 14%;	
    float: right;
}

.into_menu {
	padding: 25px;
	line-height: 2;
}

#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: -360px;
    background: #FFFFFF;
    transition: all 0.5s;   
    width: 200px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #6F6E6E;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
	color: black;
    
}

.side-button-1-wr {
    text-align: center; 
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 5px;
    color: #6F6E6E;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: Arial, Helvetica, sans-serif;    
    cursor: pointer; 
    
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #6F6E6E;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    right: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-open:after,

.side-button-1 .side-close:after,

.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    right: 0;
}

.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    right: 0;
}

.menu_logo {
	margin: 0 41px 0 0;
}

.heading {
	background-color: #F1E4E6;
	height: 764px;
	
}

.heading_wrap {  
	display: flex;
    justify-content: flex-end;
	height: 100%;	
	align-items: center;
	background-image: url("img/heading.svg");
	background-position: -60px 35px;	
	background-repeat: no-repeat;		
	
}

.heading_text {
	width: 40%;
	border-left: 12px solid #F16D7F;	
}

.heading_text h1 {
	max-width: 405px;
	padding: 0 0 0 16px;
}

.heading_decor1 {
	font-size: 48px;
	font-weight: bold;
}

.heading_decor {
	color: #F16D7F;
}

.sale {
	max-width: auto;
	min-width: 800px;	
	display: flex;
	justify-content: space-between;
	margin: 3% 14% 3% 14%;
	position: sticky;
	list-style-type:none;
}

.for_sales {
	width: 360px;
	height: 260px;
	position: relative;	
}

.for_sales_kids {
	width: 360px;
	height: 260px;
}

.for_sales_text {
	padding-top: 105px;
	position: relative;
	text-align: center;	
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.img_for_sales {
	position: absolute;
}

.sales_decor {
	color: #F16D7F;
	font-size: 24px;
}

.accesories {
	max-width: auto;
	min-width: 420px;
	height: 180px;	
	margin: 2% 14% 3% 14%;
	background-image: url("img/Group\ 39.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;

}

.img_accesories {
	position: absolute;
}

.for_accesories_text {
	padding-top: 65px;
	position: relative;
	text-align: center;	
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
	
}

.name_catalog {
	text-align: center;
	margin: 96px 0 72px;
}

.name {
font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #222222;
padding-bottom: 6px;
}

.decor_name {
font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
}

.catalog {
    max-width: auto;
	min-width: 420px;
	height: auto;	
	margin: 2% 14% 3% 14%;
	display: flex;
	justify-content: space-between;
}

.catalog_block1 {
	width: 360px;
	height: 581px;

}

.decor_name_catalog {
	font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
padding: 13px 0 18px 0;
}

.text_catalog {
	padding: 13px 28px 18px 17px;
}

.all_products{
	border: 1px solid #FF6A6A;
	height: 47px;
	width: 211px;
	margin: 3% 43% 6% 43%;
	text-align: center;
}

.products_decor {
	color: #FF6A6A;
	font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-top: 15px;
	text-align: center;
}



.footer_black {
	width: auto;
	height: 341px;
	background-color: #222224;
	display: flex;
	justify-content: space-between;
	
}

.footer_black_block {
	width: 360px;
	height: 134px;
	padding: 103px 0 104px 230px;
	text-align: center;
}

.footer_black_block2 {
	width: 360px;
	height: 134px;
	padding: 97px 0 104px 0;
	text-align: center;
}

.footer_black_block3 {
	width: 360px;
	height: 134px;
	padding: 103px 230px 104px 0;
	text-align: center;
}

.black_block_name {
	font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
	padding: 28px 0 16px 0;
}

.black_block_text {
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
	text-align: center;
	color: #FBFBFB;
}

.footer_center{
	width: auto;
	height: 448px;
	background-image: url("img/Layer\ 41.png");
	background-repeat: no-repeat;
	background-size: cover;	
	background-color: rgba(255,255,255, 0.5);
	color: black;
	display: flex;	
	justify-content: space-between;
	opacity: 0.5;
}

.footer_center_left {
	width: 360px;
	height: 230px;
	text-align: center;
	padding: 105px 30px 126px 230px;
}

.img_footer {
	padding-bottom: 97px 30px 126px 230px;
	
}

.footer_center_left_text {
	width: 360px;
	font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
	
}	

.footer_center_right {
	width: 557px;
	height: 142px;
	padding: 150px 230px 156px 30px;
	text-align: center;

}

.d7 {
	padding-top: 20px;
}
.d7:after {
	content:""; 
	clear:both; 
	display:table
}
.d7 form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.d7 input {
  width: 0px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #F16D7F;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.d7 input:focus {
  width: 300px;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.d7 button:before{
  content: "\f002";
  color: #F16D7F;
}

.subscribe {
	font-size: 26px;
    line-height: 24px;
    text-align: center;
    color: #222224;
	
}

.footer_buttom {
	width: auto;
	height: 79px;
	background-color: #222224;
	
}

.footer_buttom_text {	
	padding: 30px 0 30px 235px;
	float: left;
}

.footer_decor {
	font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer_icon {
	float: right;
	padding: 24px 230px 23px 0;
}



.header_catalog {
	width: auto;
	height: 148px;
	background-color: #F8F3F4;
	
}
.header_catalog_left {
	padding: 59px 0 60px 230px;
	float: left;
}
.catalog_decor {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;	
}
.header_catalog_right {
	padding: 65px 230px 66px 0;
	float: right;
}
.header_decor{
	font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363
}

